/* css styles */
body{
    background-image: url("bg-body.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-size: 240px 240px;

}

.hr {
    height: 3px;
    background-color: purple;
}

.panel-tabset{
    width: 95%;
}

.panel-tabset .nav-tabs{
    overflow-x: visible;      /* allow horizontal scroll */
    overflow-y: visible;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.nav-tabs {
    border-color: rgba(146, 146, 146, 0.5);
    font-size: 15px;
}

.nav-tabs .nav-link {
  color: #da1265ff;        /* inactive tabs */
  font-weight: 500;
  background-color: rgba(230, 228, 228, 0.5);
}

/* Hover */
.nav-tabs .nav-link:hover {
  color: #be27ecff;
}

/* Active tab */
.nav-tabs .nav-link.active {
  color: #be27ecff;
  font-weight: 600;
}

.faixa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg-header-rose2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10%;
    width: 100%;
    font-size: xx-large;
    color:rgb(177, 34, 117)
}

.ultrassom {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 15px;
}


/* Card container */
.event-card {
  background: white;
  border: 2px solid #f3b3c2;
  border-radius: 14px;
  padding: 24px 28px;
  max-width: 700px;
  color: #444;
  margin-bottom: 20px;
}

/* Title */
.title {
  margin: 0 0 20px 0;
  color: #ef6c8f;
  font-size: 28px;
  font-weight: 700;
}

/* Rows */
.row {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 16px;
  font-size: 16px;
}

.icon {
  font-size: 20px;
  line-height: 1.2;
  color: #f3b0c2;
}

/* Address subtitle */
small {
  color: #777;
  font-size: 14px;
}

/* Buttons */
.actions {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

button {
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* Outline button */
.btn-outline {
  background: white;
  color: #ef6c8f;
  border: 2px solid #f3b3c2;
}

/* Solid button */
.btn-solid {
  background: #f3b3c2;
  color: white;
  border: none;
}

.bottom-bear{
    width: 12%;
    position:relative; 
    display: block;
    margin-left: auto;
    padding-top: 20px;
}